<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	 http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 第1步：加载配置文件 -->
	<context:property-placeholder location="classpath:db.properties"/>

	<!-- 扫描业务层和数据层组件 -->
	<context:component-scan base-package="com.wenyu.ssm" />

	<!-- 第2步：配置数据源，常见的有dbcp、c3p0、阿里数据源、BoneCP -->
	<!-- 创建数据源（数据连接池使用dbcp） -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		  destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClass}" />
		<property name="url"
				  value="${jdbc.jdbcUrl}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<!-- 第3步：配置Mybatis -->
	<!--sqlSessionFactory-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 引入数据库连接池 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 别名包 -->
		<property name="typeAliasesPackage">
			<value>com.wenyu.ssm.bean</value>
		</property>
		<!-- 关联mybatis的子映射文件 -->
		<property name="mapperLocations">
			<value>classpath:mappers/*.xml</value>
		</property>


		<!-- spring整合pagehelper分页插件 -->
		<property name="plugins">
			<array>
				<bean class="com.github.pagehelper.PageHelper">
					<property name="properties">
						<props>
							<prop key="dialect">mysql</prop>
							<prop key="supportMethodsArguments">true</prop>
						</props>
					</property>
				</bean>
			</array>
		</property>
	</bean>
	
	<!-- 第4步：扫描并装配Mapper接口 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.wenyu.ssm.mapper"/>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>
	
	<!-- 第5步：打开事务 -->
	<!-- 事务管理器 切面 -->
	<bean name="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<aop:config>
		<aop:pointcut id="trPointcut" expression="execution(* com.wenyu.ssm.service.*.*(..))"/>
		<aop:advisor advice-ref="trAdvice" pointcut-ref="trPointcut" />
	</aop:config>

	<!-- 事务的传播特性 -->
	<tx:advice id="trAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="call*" propagation="REQUIRED" />
			<tx:method name="*" propagation="REQUIRED" read-only="true" />
		</tx:attributes>
	</tx:advice>
</beans>